body {
    background-color: #b6eff9;
    overflow: auto;
    overflow-x: hidden;
    padding: 10px;
}

.screen-shots {
    border-radius: 2.5px;
    width: 304px;
    height: 180px;
}

.side-bar {
    float: left;
    background-color: #FFFFFF;
    clear: both;
    padding: 10px;
    border-radius: 2.5px;
    width: 90%;
    margin-bottom: 10px;
    box-shadow: 0px 1px 4px 0px rgba(85, 98, 112, 0.5);
}

.side-container {
    float: left;
    width: 250px;
    height: 100%;
    margin-right: 10px;
}

.checks {
    font-size: large;
}

.shots-container {}

.shots {
    background-color: #FFFFFF;
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.shots .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.shots:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.1);
    margin-right: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.download-button {
    border: none;
    color: white;
    background-color: grey;
    padding: 10px 10px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    margin: 4px 2px;
    margin-top: 60px;
    cursor: pointer;
}

.effect2 {
    position: relative;
}

.effect2:before, .effect2:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 120vh;
}

/* Caption of Modal Image */
#modal-container {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
